@import './utils/_mixins.scss';



//------------------------
// VARIABLES
//------------------------

$card-background: #FFFFFF;

$card-text-details: #a5b2cf;
$card-text-primary: #677cad;

$checkmark-icon: #7be5bb;
$info-icon: #b8cdff;
$vertical-menu-icon: #c5cfe7;

// * { outline: 1px solid red; }



//------------------------
// Card Container
//------------------------

.main-container {
	padding: 20px 20px 24px;
	background-color: $card-background;
	border-radius: 0.5rem;
    
    cursor: pointer;
    // TODO: BORRAR
    //outline: 1px solid red;
	// max-width: 14rem;

    &:hover {
        background-color: #FCFCFC;
    }

}





//------------------------
// SUBJECT NAME
//------------------------

.subject-name {
    @include text-mixin
        ('Inter', 14px, 18px, var(--inter-medium),
        #7494BD, -0.008em);

    font-feature-settings: 'tnum' on, 'lnum' on;
    height: 60px;
    margin-bottom: 12px;
}


//------------------------
// SUBJECT UV
//------------------------

.subject-uv {
    @include text-mixin
        ('Barlow', 0.75rem, 1, var(--barlow-medium),
        #A2B8D7, 0.04em);

    font-feature-settings: 'tnum' on, 'lnum' on;
}

//------------------------
// SUBJECT GRADE
//------------------------

.subject-grade {
    @include text-mixin
        ('Barlow', 1.25rem, 1, var(--barlow-semibold),
        #7093C2, -0.04em);

    font-feature-settings: 'tnum' on, 'lnum' on;
}


//------------------------
// REORDER
//------------------------


.card-footer,
.card-data {
    @include flex-container(row, space-between, 0);
}

.card-status {
    display: flex;
    gap: 4px;
}

span {
    @include flex-container(column, flex-end, 0);
}

.card-data-data {
    @include flex-container(column, flex-start, 0.25rem);
}

.card-header {
    margin-bottom: 12px;
}

.card-data {
    margin-bottom: 24px;
}

img {
    user-select: none;
}

.card-footer {
    align-items: center;
}