@import './utils/_mixins.scss';

// * { outline: 1px solid red; }



//------------------------
// VARIABLES
//------------------------

$infoBar-background-color: #72ACFD;;
$infoBar-text-color: #F5FAFF;



//------------------------
// MAIN-CONTAINER
//------------------------

div.main-container {
    background: #FFFFFF;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0 24px;

    position: relative;


    display: grid;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: 1fr 12px;
    grid-template-areas:
        "tittle tittle tittle"
        "tittle tittle tittle"
    ;

    //TODO: BORRAR
    min-height: 128px;
}


//------------------------
// CYCLE-STATE-BAR
//------------------------


.cycle-state-bar {
    
    grid-area: tittle;

    display: flex;
    align-items: center;
    justify-content: center;

    
        & > .icon {
            margin-right: 8px;
        }
        
        p {
            @include text-mixin('Barlow', 16px, 1, var(--barlow-medium),
            #586B9D, 0.04em);
            margin-right: 4px;
        }
    
        h4 {
            @include text-mixin('Barlow', 24px, 1, var(--barlow-bold),
            #586B9D, 0.04em);
        }

}


//------------------------
// BUTTONS
//------------------------

.buttons-container {
    grid-column: 3 / 4;
    grid-row: 1 / span 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;


    img {
        width: 42px;
        aspect-ratio: 1/1;
        opacity: 0.6;

        transition: all 0.2s  ease-in;
    }

    img:hover {
        opacity: 1;
    }

    img:nth-of-type(2){
        transform: rotate(180deg);
    }
}



.luckImage {
    position: absolute;
    bottom: 6px;
    left: 20px;
    cursor: auto;
}
