//------------------------
// IMPORTS
//------------------------

@import './utils/_mixins.scss';
img {display: block;}
// * { outline: 1px solid red; }



//------------------------
// VARIABLES
//------------------------

$infoBar-background-color: #72ACFD;;
$infoBar-text-color: #F5FAFF;



//------------------------
// MAIN-CONTAINER
//------------------------

div.main-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


//------------------------
// INFO-BAR
//------------------------

.cycle-info-bar {
    padding: 1rem 1.25rem;
    background-color: $infoBar-background-color;
    border-radius: 0 0 0.25rem 0.25rem;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    //TODO: BORRAR
    flex-grow: 1;
    //width: 700px;


    p {
        @include 
        text-mixin('Barlow', 0.625rem, 1, var(--barlow-medium),
        $infoBar-text-color, 0.04em);
        
        font-feature-settings: 'tnum' on, 'lnum' on;        
    }
    
}


//------------------------
// CYCLE-STATE-BAR
//------------------------


.cycle-state-bar {
    background: linear-gradient(90deg, #0B85FE 0%, #215DEE 50.66%, #1A7DFD 99.26%), #1C7AFC;;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: inset 1px 1px 12px #9CC6FC;
    opacity: 0.9;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    
    // TODO: BORRAR
    min-height: 132px;
    // width: 700px;

    div {
        display: flex;
        align-items: center;

        & > img {
            margin-right: 12px;
        }
        
        p {
            @include text-mixin('Barlow', 1.25rem, 1, var(--barlow-medium),
            #DBEEFF, 0.04em);
            margin-right: 0.25rem;
        }
    
        h4 {
            @include text-mixin('Barlow', 1.625rem, 1, var(--barlow-bold),
            #F5FAFF, 0.04em);
        }
    }

}


//------------------------
// BUTTONS
//------------------------

section {
    display: flex;
    position: absolute;
    right: 1.25rem;

    img {
        margin: 0;
        opacity: 0.6;
        transition: all 0.2s  ease-in;
    }

    img:hover {
        opacity: 1;
    }

    img:nth-of-type(2){
        transform: rotate(180deg);
    }
}



.luckImage {
    position: absolute;
    bottom: 0;
    left: 4px;
    cursor: auto;
}