//------------------------
// IMPORTS
//------------------------

@import './utils/_mixins.scss';
img {display: block;}
// * { outline: 1px solid red; }



//------------------------
// VARIABLES
//------------------------

$infoBar-background-color: #8CBDFC;
$infoBar-text-color: #F5FAFF;



//------------------------
// MAIN-CONTAINER
//------------------------

div.main-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


//------------------------
// INFO-BAR
//------------------------

.cycle-info-bar {
    padding: 1rem 1.25rem;
    background-color: $infoBar-background-color;
    border-radius: 0 0 0.25rem 0.25rem;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    //TODO: BORRAR
    flex-grow: 1;
    width: 700px;


    p {
        @include 
        text-mixin('Barlow', 0.625rem, 1, var(--barlow-medium),
        $infoBar-text-color, 0.04em);
        
        font-feature-settings: 'tnum' on, 'lnum' on;        
    }
    
}


//------------------------
// CYCLE-STATE-BAR
//------------------------


.cycle-state-bar {
    background-color: #3998FF;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 2px 2px 4px 0px hsla(214, 94%, 76%, 1) inset;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    
    // TODO: BORRAR
    min-height: 112px;
    width: 700px;

    div {
        display: flex;
        align-items: center;

        & > img {
            margin-right: 12px;
        }
        
        p {
            @include text-mixin('Barlow', 1.25rem, 1, var(--barlow-medium),
            #DBEEFF, 0.04em);
            margin-right: 0.25rem;
        }
    
        h4 {
            @include text-mixin('Barlow', 1.625rem, 1, var(--barlow-bold),
            #F5FAFF, 0.04em);
        }
    }

    section {
        display: flex;
        position: absolute;
        right: 1.25rem;

        img {
            margin: 0;
        }

        img:nth-of-type(2){
            transform: rotate(180deg);
        }
    }
}

.luckImage {
    position: absolute;
    bottom: 0;
    left: 1.25rem;
    cursor: auto;
}