@import './utils/_mixins.scss';

//------------------------
// VARIABLES
//------------------------
$text-light-color: #c2e2ff;
$text-default-color: hsla(208, 100%, 92%, 1);

//------------------------
// --- MAIN-CONTAINER --- //
//------------------------

.main-container {
	border-radius: 0.5rem;
	padding: 24px 24px 32px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;

	// TODO: BORRAR
	// width: 234px;

	// --- METRIC-TITTLE --- //
	& > p {
		@include text-mixin(
			'Inter',
			0.75rem,
			1,
			var(--inter-regular),
			#d7ecff,
			-0.004em
		);

		font-feature-settings: 'tnum' on, 'lnum' on;
	}

	// --- INFO-ICON --- //
	.info-icon {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
}

.data-container {
	// --- METRIC-IMPROVE-CONTAINER
	div {
		display: flex;
		gap: 2px;
		margin-bottom: 2px;
	}

	// --- SMALL NUMBER --- //
	& > div > p {
		@include text-mixin(
			'Barlow',
			1rem,
			1,
			var(--barlow-medium),
			#9acffe,
			0.02em
		);

		font-feature-settings: 'tnum' on, 'lnum' on;
	}

	// --- BIG-NUMBER --- //
	h4 {
		padding-left: 4px;

		@include text-mixin(
			'Barlow',
			28px,
			1,
			var(--barlow-semibold),
			// #d7ecff,
			var(--text-color),
			0
		);

		font-feature-settings: 'tnum' on, 'lnum' on;
	}
}

//------------------------
// DEFAULT-THEME
//------------------------

.default-theme {
	background: linear-gradient(
		244.66deg,
		#1c84fe 0%,
		#1f5bec 38.54%,
		#1c84fe 77.09%
	);
	box-shadow: 
        inset 2px 2px 8px #4e91f9, 
        inset -2px -2px 8px #3068ed
    ;
}

.default-text-theme {
	color: $text-default-color;
}

//------------------------
// LIGHT-THEME
//------------------------

.light-theme {
	background: linear-gradient(
        110.62deg, 
        #268ff8 47.84%, 
        #439ef9 80.89%
    );

	box-shadow: 
        inset 2px 2px 8px #4DA4F9, 
        inset -2px -2px 8px #318CF7
    ;
}

.light-text-theme {
	color: $text-light-color;
}
