//------------------------
// VARIABLES
//------------------------

// * { outline: 1px solid red; }



//------------------------
// MAIN-CONTAINER
//------------------------

div {
    height: 100vh;
    background: linear-gradient(180deg, #1B7EFD 0%, #2163F1 51.04%, #1B7EFD 100%);
    box-shadow: inset 0px 1px 8px #A7CEFB;;
    opacity: 0.9;

    // border-radius: 0px 8px 8px 0px;
    padding: 24px 16px 0px;

    position: fixed;
    top: 0;

    // TODO: BORRAR
    width: 88px;
    

    section {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
    }


}



nav {
    padding: 12px 10px;
    background: #87B6FC;;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 12px;


    a {
        padding: 6px;
        background: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        
        img {
            width: 24px;
            height: 24px;
        }
        
    }

    a:not(a:first-child) {
        background: #CDE4FE;
    }
}