//------------------------
// VARIABLES
//------------------------

// * { outline: 1px solid red; }

//------------------------
// MAIN-CONTAINER
//------------------------

div {
	height: 100vh;
	padding: 20px 8px 20px;
	background: linear-gradient(180deg, #1b7efd 0%, #2163f1 51.04%, #1b7efd 100%);

	position: fixed;
	top: 0;

	section {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}


//------------------------
// NAV-BAR
//------------------------

nav {
	display: flex;
	flex-direction: column;
	gap: 8px;

	position: relative;


	a {
		padding: 0.5rem;
		border-radius: 0.5rem;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 28px;
			aspect-ratio: 1/1;
            fill: #69AEFC;
		}

        svg.active {
            fill: #2388fa;
        }

	}
}


//------------------------
// DIVIDER
//------------------------

.box {
	padding: 4px 10px;
}

hr {
	border: 0;
	height: 2px;
	background-color: #4a9ffc;
}




//------------------------
// ACTIVE-INDICATOR
//------------------------

.active-indicator {
	width: 44px;
	aspect-ratio: 1/1;
	background: #c3dffe;
	box-shadow: inset 1px 1px 4px #ebf4ff;
	border-radius: 0.5rem;

	position: absolute;
	z-index: -1;

}
