//------------------------
// VARIABLES
//------------------------

// * { outline: 1px solid red; }



//------------------------
// MAIN-CONTAINER
//------------------------

div {
    height: 100vh;
    background: linear-gradient(
        180deg, 
        #53AEFF 0%, 
        #5398FF 100%
    );

    // border-radius: 0px 8px 8px 0px;
    padding: 24px 12px 0px;

    position: fixed;
    top: 0;

    // TODO: BORRAR
    width: 76px;
    

    section {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
    }


}



nav {
    padding: 12px 8px;
    background: #A3D4FF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 12px;


    a {
        padding: 6px;
        background: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        
        img {
            width: 24px;
            height: 24px;
        }
        
    }

    a:not(a:first-child) {
        background: #CDE4FE;
    }
}