

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Inter:wght@600&display=swap');


:root {
    --barlow-medium: 500;
    --barlow-semibold: 600;
    --barlow-bold: 700;

    --inter-semibold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    cursor: pointer;
    user-select: none;
}

h1, h2, h3, h4, p {
    user-select: none;
}