
/* Scrollbar Styles */

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
	background: #0363c3;
}
::-webkit-scrollbar-track {
	background: #9ab7d8;
	border: 0px none #ffffff;
	border-radius: 58px;
}
::-webkit-scrollbar-track:hover {
	background: #9ab7d8;
}
::-webkit-scrollbar-track:active {
	background: #9ab7d8;
}
::-webkit-scrollbar-corner {
	background: transparent;
}




/* INPUT TEXT SELECTION */


/* Code for Firefox */
::-moz-selection {
	color: white;
	background: #1bd911;
}

::selection {
	color: white;
	background: #1bd911;
}